openapi: 3.0.3
info:
  title: Qiara Home Security API
  description: |
    API for the Qiara home security system, extracted from decompiled Android APK.
    This API manages authentication, home nodes, video streaming, recording, pairing, and history.
  version: 1.0.0
  contact:
    name: Qiara API Support

servers:
  - url: https://api.qiara.co/api/v1
    description: Production server

security:
  - SessionAuth: []

paths:
  /login/challenge:
    get:
      summary: Get authentication challenge
      description: Retrieve a challenge string for authentication
      operationId: getChallenge
      security: []
      responses:
        "200":
          description: Challenge retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiChallenge"

  /login/new:
    post:
      summary: Create new session
      description: Create a new authenticated session using challenge response
      operationId: createSession
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiNewSessionBody"
      responses:
        "200":
          description: Session created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNewSessionResponse"

  /home/revision:
    get:
      summary: Get revision update
      description: Check for system revision updates
      operationId: getRevisionUpdate
      responses:
        "200":
          description: Revision update information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiRevisionUpdateResponse"

    post:
      summary: Update revision
      description: Submit revision update request
      operationId: updateRevision
      parameters:
        - $ref: "#/components/parameters/SessionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiRevisionBody"
      responses:
        "200":
          description: Revision updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiRevisionResponse"

  /home/nodes:
    post:
      summary: Get home nodes
      description: Retrieve list of all nodes (devices) in the home system
      operationId: getNodes
      parameters:
        - $ref: "#/components/parameters/SessionHeader"
      responses:
        "200":
          description: List of nodes retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiNodesResponse"

  /home/delete:
    post:
      summary: Delete nodes
      description: Delete specified nodes from the system
      operationId: deleteNodes
      parameters:
        - $ref: "#/components/parameters/SessionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiNodesDeleteBody"
      responses:
        "200":
          description: Nodes deleted successfully

  /home/pairing:
    post:
      summary: Manage device pairing
      description: Start, update, or stop device pairing process
      operationId: manageHomePairing
      parameters:
        - $ref: "#/components/parameters/SessionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/ApiPairingStart"
                - $ref: "#/components/schemas/ApiPairingUpdate"
                - $ref: "#/components/schemas/ApiPairingStop"
      responses:
        "200":
          description: Pairing operation successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiPairingResponse"

  /home/endpoints_read:
    post:
      summary: Read endpoint values
      description: Read configuration values from specified endpoints
      operationId: readEndpoints
      parameters:
        - $ref: "#/components/parameters/SessionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/ApiEndpointReadBody"
                - $ref: "#/components/schemas/ApiVideoSettingsRead"
      responses:
        "200":
          description: Endpoint values retrieved successfully
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ApiEndpointReadResponse"
                  - $ref: "#/components/schemas/ApiVideoSettingsResponse"

  /home/endpoints_write:
    post:
      summary: Write endpoint values
      description: Write configuration values to specified endpoints
      operationId: writeEndpoints
      parameters:
        - $ref: "#/components/parameters/SessionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/ApiEndpointWriteBody"
                - $ref: "#/components/schemas/ApiVideoSettingsUpdate"
      responses:
        "200":
          description: Endpoint values written successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiEndpointWriteResponse"

  /home/history:
    post:
      summary: Get event history
      description: Retrieve event history with pagination
      operationId: getHistory
      parameters:
        - $ref: "#/components/parameters/SessionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiHistoryBody"
      responses:
        "200":
          description: History retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiHistoryResponse"

  /home/delete_history:
    post:
      summary: Delete history items
      description: Delete specified history items
      operationId: deleteHistory
      parameters:
        - $ref: "#/components/parameters/SessionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiHistoryDeleteBody"
      responses:
        "200":
          description: History items deleted successfully

  /home/open_stream:
    post:
      summary: Open video stream
      description: Open a live video stream
      operationId: openVideoStream
      parameters:
        - $ref: "#/components/parameters/SessionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiVideoStreamBody"
      responses:
        "200":
          description: Video stream opened successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiVideoStreamResponse"

  /home/stream/live.jpeg:
    get:
      summary: Get live stream snapshot
      description: Retrieve a JPEG snapshot from the live video stream
      operationId: getStreamSnapshot
      parameters:
        - $ref: "#/components/parameters/SessionHeader"
      responses:
        "200":
          description: Snapshot retrieved successfully
          content:
            image/jpeg:
              schema:
                type: string
                format: binary

  /home/recording/720p:
    get:
      summary: Get video recordings
      description: Retrieve list of 720p video recordings
      operationId: getVideoRecordings
      parameters:
        - $ref: "#/components/parameters/SessionHeader"
      responses:
        "200":
          description: List of video recordings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiVideoClipsResponse"

  /home/remove_records/720p:
    post:
      summary: Delete video recordings
      description: Delete specified 720p video recordings
      operationId: deleteVideoRecordings
      parameters:
        - $ref: "#/components/parameters/SessionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiVideoClipsDeleteBody"
      responses:
        "200":
          description: Video recordings deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiVideoClipsDeleteResponse"

  /home/recorder_action:
    post:
      summary: Control video recorder
      description: Perform an action on the video recorder (start/stop recording)
      operationId: controlVideoRecorder
      parameters:
        - $ref: "#/components/parameters/SessionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiVideoRecorderBody"
      responses:
        "200":
          description: Recorder action executed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiVideoRecorderResponse"

  /home/fw_update:
    post:
      summary: Update firmware
      description: Initiate firmware update for devices
      operationId: updateFirmware
      parameters:
        - $ref: "#/components/parameters/SessionHeader"
      responses:
        "200":
          description: Firmware update initiated successfully

components:
  parameters:
    SessionHeader:
      name: x-hlcore-session-id
      in: header
      required: true
      description: Session ID obtained from the /login/new endpoint after successful authentication
      schema:
        type: string
        example: "sess_1a2b3c4d5e6f"

  securitySchemes:
    SessionAuth:
      type: apiKey
      in: header
      name: x-hlcore-session-id
      description: Session ID obtained from /login/new endpoint

  schemas:
    ApiChallenge:
      type: object
      required:
        - challenge
      properties:
        challenge:
          type: string
          description: Random challenge string for authentication
          example: "a1b2c3d4e5f6"

    ApiNewSessionBody:
      type: object
      required:
        - cust_id
        - challenge_rsp
      properties:
        cust_id:
          type: integer
          description: Customer ID
          example: 12345
        challenge_rsp:
          type: string
          description: Challenge response computed using HMAC-SHA256
          example: "9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08"

    ApiNewSessionResponse:
      type: object
      required:
        - session
      properties:
        session:
          type: string
          description: Session ID for authenticated requests
          example: "sess_1a2b3c4d5e6f"

    ApiRevisionUpdateResponse:
      type: object
      description: Revision update information

    ApiRevisionBody:
      type: object
      description: Revision update request body

    ApiRevisionResponse:
      type: object
      description: Revision update response

    ApiNodesResponse:
      type: object
      required:
        - hash_i
        - list
      properties:
        hash_i:
          type: integer
          format: int64
          description: Hash value for the node list
          example: 1234567890
        list:
          type: array
          description: List of nodes (devices) in the system
          items:
            $ref: "#/components/schemas/Node"

    Node:
      type: object
      required:
        - discarded
        - hash_t
        - id
        - type_name
      properties:
        discarded:
          type: integer
          description: Whether the node is discarded (0=active, 1=discarded)
          example: 0
        hash_t:
          type: integer
          format: int64
          description: Node hash value
          example: 9876543210
        id:
          type: integer
          format: int64
          description: Unique node identifier
          example: 1001
        type_name:
          type: string
          description: Type of the node/device (e.g., camera, sensor, keypad)
          example: "camera"

    ApiNodesDeleteBody:
      type: object
      description: Body for deleting nodes

    ApiPairingStart:
      type: object
      required:
        - node_type
        - op
        - adapter_type
      properties:
        node_type:
          type: string
          description: |
            Type of node to pair. Maps to device types in the Qiara home security system.
            - HOMELABCAM: Camera (MainCamera or SlaveCamera)
            - HOMELABSRN: Siren
            - HOMELABDWS: Door/Window Sensor
            - HOMELABPIR: PIR Motion Sensor  
            - HOMELABKPD: Keypad
          enum:
            - HOMELABCAM
            - HOMELABSRN
            - HOMELABDWS
            - HOMELABPIR
            - HOMELABKPD
          example: "HOMELABCAM"
        op:
          type: string
          description: |
            Operation type for pairing process.
            - start_adapter: Start adapter and begin pairing
            - stop: Stop pairing process
            - poll: Poll for pairing status
            - next: Move to next step in pairing
          enum:
            - start_adapter
            - stop
            - poll
            - next
          default: "start_adapter"
          example: "start_adapter"
        adapter_type:
          type: string
          description: |
            Adapter type for the pairing process. Default is Adapter.DomusAdapter which is used
            for the Qiara/Domus home security system devices.
          default: "Adapter.DomusAdapter"
          example: "Adapter.DomusAdapter"

    ApiPairingUpdate:
      type: object
      description: Update pairing status

    ApiPairingStop:
      type: object
      description: Stop device pairing

    ApiPairingResponse:
      type: object
      required:
        - session
        - layout_name
      properties:
        session:
          type: integer
          description: Pairing session ID
          example: 12345
        layout_name:
          type: string
          description: UI layout name for the paired device
          example: "camera_layout"
        actual_node_type:
          type: string
          nullable: true
          description: Actual node type detected during pairing
          example: "ip_camera"
        node_id:
          type: integer
          format: int64
          nullable: true
          description: ID of the newly paired node
          example: 2001

    ApiEndpointReadBody:
      type: object
      required:
        - list
      properties:
        list:
          type: array
          description: List of nodes and endpoints to read
          items:
            type: object
            required:
              - node_id
              - eps
            properties:
              node_id:
                type: integer
                format: int64
                description: ID of the node to read from
                example: 1001
              eps:
                type: array
                description: List of endpoint names to read
                items:
                  type: string
                  example: "temperature"

    ApiEndpointReadResponse:
      type: object
      description: Response containing endpoint values

    ApiVideoSettingsRead:
      type: object
      description: Request body for reading video settings

    ApiVideoSettingsUpdate:
      type: object
      description: Request body for updating video settings

    ApiVideoSettingsResponse:
      type: object
      description: Response containing video settings

    ApiEndpointWriteBody:
      type: object
      required:
        - list
      properties:
        list:
          type: array
          description: List of nodes and endpoints to write
          items:
            type: object
            required:
              - node_id
              - eps
            properties:
              node_id:
                type: integer
                format: int64
                description: ID of the node to write to
                example: 1001
              eps:
                type: array
                description: List of endpoint values to write
                items:
                  type: object
                  description: Endpoint name-value pair for writing configuration

    ApiEndpointWriteResponse:
      type: object
      description: Response confirming endpoint write operation

    ApiHistoryBody:
      type: object
      required:
        - count
        - offset
      properties:
        count:
          type: integer
          description: Number of history items to retrieve
          example: 20
        offset:
          type: integer
          description: Offset for pagination
          example: 0
        date:
          type: integer
          format: int64
          nullable: true
          description: Timestamp to filter events after this date
          example: 1638360000

    ApiHistoryResponse:
      type: object
      required:
        - list
      properties:
        list:
          type: array
          items:
            $ref: "#/components/schemas/HistoryItem"

    HistoryItem:
      type: object
      required:
        - id
        - node_id
        - value
      properties:
        id:
          type: integer
          format: int64
          description: Unique history event ID
          example: 500123
        node_id:
          type: integer
          format: int64
          description: ID of the node that triggered the event
          example: 1001
        timestamp:
          type: integer
          format: int64
          nullable: true
          description: Unix timestamp of the event
          example: 1638360123
        value:
          type: string
          description: Event type/value (e.g., "door_open", "motion_detected")
          example: "motion_detected"
        is_trigger:
          type: boolean
          nullable: true
          description: Whether this event triggered another action
          example: false
        trigger_source:
          type: integer
          format: int64
          nullable: true
          description: Node ID that triggered this event (if applicable)
          example: 1002
        opening_type:
          type: string
          nullable: true
          description: Type of opening (for door/window sensors)
          example: "door"
        room:
          type: string
          nullable: true
          description: Custom room name
          example: "Living Room"
        area:
          type: string
          nullable: true
          description: Area key/identifier
          example: "zone_1"
        user_name:
          type: string
          nullable: true
          description: Username associated with the event
          example: "john_doe"
        kpd_code_label:
          type: string
          nullable: true
          description: Keypad code label (for keypad events)
          example: "main_code"

    ApiHistoryDeleteBody:
      type: object
      description: Request body for deleting history items

    ApiVideoStreamBody:
      type: object
      required:
        - force
      properties:
        force:
          type: boolean
          description: Force stream opening even if already active
          example: false

    ApiVideoStreamResponse:
      type: object
      description: Video stream information and URL

    ApiVideoClipsResponse:
      type: object
      description: List of video recording clips

    ApiVideoClipsDeleteBody:
      type: object
      description: Request body for deleting video clips

    ApiVideoClipsDeleteResponse:
      type: object
      description: Response confirming video clips deletion

    ApiVideoRecorderBody:
      type: object
      description: Request body for recorder actions (start/stop)

    ApiVideoRecorderResponse:
      type: object
      description: Response with recorder status

    ApiBridgeError:
      type: object
      description: Error response from the API
      properties:
        error:
          type: string
          description: Error message
        code:
          type: integer
          description: Error code

tags:
  - name: Authentication
    description: Login and session management
  - name: Nodes
    description: Device/node management
  - name: Pairing
    description: Device pairing operations
  - name: Endpoints
    description: Configuration endpoint management
  - name: History
    description: Event history
  - name: Video
    description: Video streaming and recording
  - name: Firmware
    description: Firmware management
